// This File is imported last, and will override other styles in the cascade
// Add styles here to customize your blog
// By default this file should be empty - please help us move stuff in its proper place:
// https://github.com/lucaslew/whitespace/pull/17

//Imagecap code:
@mixin reset-shadow-box() {
  @include shadow-box(0px, 0px, 0px);
}

article {
    img, video, .flash-video, .caption-wrapper {
     @extend .flex-content;
     @extend .basic-alignment;
     @include shadow-box;
    &.caption {
      @include reset-shadow-box;
    }
  }
  .caption-wrapper {
    display: inline-block;
    margin-bottom: 10px;
    .caption-text {
      background: #fff;
      text-align: center;
      font-size: .8em;
      color: #666;
      display: block;
    }
   }
  
}

// Header image code:
body > header h1:before {
      content:"";
      position:relative;
      display:block;
      margin-left: auto;
      margin-right: auto;
      top:-.3em;
      height:102px;
      width:102px;
      text-align:center;
      background-image:url('/images/chymeric_logo_204.png');
      background-size: 101px 101px;
      background-repeat:no-repeat;
}

// Remove line numbers for code snippets:
pre.line-numbers { display: none; }
